
<!-- 
<h1>admin logged in</h1>

<form action="" method="post">
    <input type="email" name="email" placeholder="enter email" required />
    <br /><br />
    <input
      type="password"
      name="password"
      placeholder="enter password"
      required
    />
    <br /><br />
    <input type="submit" value="Login" />   -->
    <!-- <button>
      <a href="/Home" style="text-decoration: none">Login</a>
   </button> -->
  <!-- </form> -->

  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <section class="vh-100" style="background-color: #3b3636;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="/admin/assets/img/adminlogin.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form action="" method="post">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                        <img src="/admin/assets/logo (1).png" alt="Molla Logo" width="105" height="45">
                    </div>
                    
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example17">Email address</label>
                      <input type="email"  class="form-control form-control-lg" 
                      name="email" placeholder="enter email" required />
                      
                    </div>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example27">Password</label>
                      <input type="password" class="form-control form-control-lg" type="password"
                      name="password"placeholder="enter password"required/>
                      
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                    </div>
  
                    
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  