<%- include('../partials/userLoggedinHeader') %>


<main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <!-- <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">404</li>
                    </ol> -->
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

        	<div class="error-content text-center" style="background-image: url(/assets/images/backgrounds/slide-1.jpg)">
            	<div class="container">
            		<h1 class="error-title" style="color: aliceblue;">Success</h1><!-- End .error-title -->
            		<h5 style="color: rgb(176, 192, 207);">Thank you for shopping with us! ...</h5>
            		<a href="/shop" class="btn btn-outline-primary-2 btn-minwidth-lg">
            			<span>BACK TO HOMEPAGE</span>
            			<i class="icon-long-arrow-right"></i>
            		</a>
            	</div><!-- End .container -->
        	</div><!-- End .error-content text-center -->
        </main><!-- End .main -->


        

                